<section class="home-page">

  <div class="budget-info smaller-table">
    <% remaining = @wallet.budget.to_f - @wallet.spend.to_f  %>
    <h2>Your budget information:</h2>
    <table>
      <tr>
        <th>Budget</th>
        <th>Spend</th>
        <th>Remaining Budget</th>
      </tr>
      <tr>
        <td><%= "£#{sprintf('%.2f', @wallet.budget)}" %></td>
        <td><%= "£#{sprintf('%.2f', @wallet.spend)}" %></td>
        <td><%= "£#{sprintf('%.2f',remaining)}" %></td>
      </tr>
    </table>

    <% if remaining < 0 %>
    <p class="danger"> You have spent more than your whole budget!</p>
    <% elsif remaining < 100 %>
    <p class="warning">Be careful with your spending, you are getting close to having used your whole budget</p>
    <% end %>
  </div>

<div class="last-five-table">

  <h2>Your last five transactions are:</h2>

  <table>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Shop</th>
      <th>Category</th>
      <th>Comment</th>
    </tr>

    <% @last_five.each do |trans| %>
    <tr>
      <td><%= "#{trans.date_of_transaction}" %></td>
      <td><%= "£#{sprintf('%.2f',trans.amount)}" %></td>
      <td><%= "#{trans.shop.name}" %></td>
      <td><%= "#{trans.category.name}" %></td>
      <td><%= "#{trans.comment}" %></td>
    </tr>
    <% end %>

  </table>

</div>

</section>
