<h2>Your last five transactions are:</h2>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Shop</th>
    <th>Category</th>
    <th>Comment</th>
  </tr>

<% @last_five.each do |trans| %>
<tr>
  <td><%= "#{trans.date_of_transaction}" %></td>
  <td><%= "#{trans.amount}" %></td>
  <td><%= "#{trans.shop.name}" %></td>
  <td><%= "#{trans.category.name}" %></td>
  <td><%= "#{trans.comment}" %></td>
</tr>
<% end %>

</table>

<h2>Your budget information:</h2>
<p>Your budget was: <%= "£#{@wallet.budget}" %></p>
<p>Your spend is: <%= "£#{@wallet.spend}" %></p>
<%remaining = @wallet.budget.to_i - @wallet.spend.to_i  %>
<p>Your remaining budget is: <%= "£#{remaining}" %></p>

<% if remaining < 0 %>
<p> You have spent more than your whole budget!</p>
<% elsif remaining < 100 %>
<p>Be careful with your spending</p>
<% end %>
