<h2>Transactions for <%= Date::MONTHNAMES[@month] %> <%= @year %></h2>
<div >
  <p>The total spend for <%= Date::MONTHNAMES[@month] %> <%= @year %> is <b><%= "£#{sprintf('%.2f', @monthly_spend)}" %></b></p>
</div>

<div class="inline">
  <a href="/shops/current"><button class='cat_shop_button'>Show by shop</button></a>
</div>
<div class="inline">
  <a href="/categories/current"><button class='cat_shop_button'>Show by category</button></a>
</div>


<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Shop</th>
    <th>Category</th>
    <th>Comment</th>
    <th>Edit transaction</th>
    <th>Delete transaction</th>
  </tr>

<% @transactions.each do |trans| %>
<tr>
  <td><%= "#{trans.date_of_transaction}" %></td>
  <td><%= "£#{sprintf('%.2f',trans.amount)}" %></td>
  <td><%= "#{trans.shop.name}" %></td>
  <td><%= "#{trans.category.name}" %></td>
  <td><%= "#{trans.comment}" %></td>

  <td> <a class="table-button" href="/transactions/<%= trans.id %>/edit" >Edit</a> </td>



  <td>  <form method="post" action="/transactions/<%=trans.id%>">
    <input type="hidden" name="_method" value="delete">
    <button class="table-button">Delete</button>
  </form></td>

</tr>
<% end %>

</table>
