<h3><%= @month_name %></h3>

<%if @monthly_spend.to_i == 0 %>
<p>You did not record any transactions for this month.</p>


<% else %>


<p>This month you spent £<%= sprintf('%.2f', @monthly_spend) %></p>
<h3>Your transactions are:</h3>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Shop</th>
    <th>Category</th>
    <th>Comment</th>
  </tr>

<% @transactions.each do |trans| %>
<tr>
  <td><%= "#{trans.date_of_transaction}" %></td>
  <td><%="£#{sprintf('%.2f',trans.amount)}" %></td>
  <td><%= "#{trans.shop.name}" %></td>
  <td><%= "#{trans.category.name}" %></td>
  <td><%= "#{trans.comment}" %></td>
</tr>
<% end %>

</table>

 <% end %>
