<h2 class='table-title'>Shops</h2>
<div class='cat_shop_button'>
  <a href=/shops/new>Add a new shop</a>
</div>

<div >
  <table>
    <tr>
      <th>Shop</th>
      <th>Total spend</th>
      <th>View transactions</th>
      <th>Edit shop</th>
      <th>Remove shop</th>
    </tr>

    <% @shops.each do |shop| %>
    <tr>
      <td><%= "#{shop.name}" %></a> </td>
      <td> <%= "£#{sprintf('%.2f', shop.total_spend_by_shop)}" %> </td>

      <td>
        <% if shop.total_spend_by_shop==0 %>
        <%= "N/A" %>
        <% else %>
        <form action="/shops/<%= shop.id %>/transactions"     method="get">
          <input class="table-button" type="submit" value="Transactions"></form>
          <% end %>
        </td>

        <td>  <form action="/shops/<%= shop.id %>/edit"     method="get">
          <input class="table-button" type="submit" value="Edit">
        </form></td>
        <td>  <form action="/shops/<%= shop.id %>/warning"     method="get">
          <input class="table-button" type="submit" value="Remove">
        </form>
      </td>

    </tr>
    <% end %>
  </table>
</div>
