<h2 class='table-title'>Categories</h2>

<div class='cat_shop_button'>
  <a href='/categories/new'>Add a new category</a>

</div>


<div>
  <table>
    <tr>
      <th>Category</th>
      <th>Total spend</th>
      <th>View transaction</th>
      <th>Edit category</th>
      <th>Remove category</th>
    </tr>

    <% @categories.each do |category| %>
    <tr>
      <td><%= "#{category.name}" %> </td>
      <td> <%= "£#{sprintf('%.2f', category.total_spend_by_category)}" %> </td>

      <td>
        <% if category.total_spend_by_category==0 %>
        <%= "N/A" %>
        <% else %>
        <form action="/categories/<%= category.id %>/transactions"     method="get">
          <input class="table-button" type="submit" value="Transactions">
        </form>
      </td>
      <% end %>

      <td>
        <form action="/categories/<%= category.id %>/edit"     method="get">
          <input class="table-button" type="submit" value="Edit">
        </form>
      </td>
      <td>
        <form action="/categories/<%= category.id %>/warning"     method="get">
          <input class="table-button" type="submit" value="Remove">
        </form>
      </td>

    </tr>
    <% end %>
  </table>
</div>
