
<h3>The total spend on <%= "#{@category.name}" %> for <%= Date::MONTHNAMES[@month] %> <%= @year %> is <%= "£#{sprintf('%.2f', @category.total_spend_by_category_year_month(@year, @month))}" %></h3>
<h3>The transactions are:</h3>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Shop</th>
    <th>Category</th>
    <th>Comment</th>
  </tr>

<% @transactions.each do |trans| %>
<tr>
  <td><%= "#{trans.date_of_transaction}" %></td>
  <td><%= "£#{sprintf('%.2f',trans.amount)}" %></td>
  <td><%= "#{trans.shop.name}" %></td>
  <td><%= "#{trans.category.name}" %></td>
  <td><%= "#{trans.comment}" %></td>
</tr>
<% end %>

</table>
