
<h2>The total spend at <%= "#{@category.name}" %> is <%= "£#{sprintf('%.2f', @category.total_spend_by_category)}" %></h2>
<h3>The transactions are:</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Shop</th>
    <th>Category</th>
    <th>Comment</th>
  </tr>

<% @transactions.each do |transaction| %>
<tr>
  <td><%= "#{transaction.date_of_transaction}" %></td>
  <td><%= "£#{sprintf('%.2f',transaction.amount)}" %></td>
  <td><%= "#{transaction.shop.name}" %></td>
  <td><%= "#{transaction.category.name}" %></td>
  <td><%= "#{transaction.comment}" %></td>
</tr>
<% end %>

</table>
