<h2>Categories</h2>



<div >
<table>
  <tr>
    <th>Category</th>
    <th>Total spend</th>
    <th>View transaction</th>
    <th>Edit category</th>
    <th>Remove category</th>
  </tr>

  <% @categories.each do |category| %>
    <tr>
    <td><%= "#{category.name}" %> </td>
    <td> <%= "#{category.total_spend_by_category}" %> </td>
    <td>  <form action="/categories/<%= category.id %>/transactions"     method="get">
    <input type="submit" value="Transactions">
    </form></td>
    <td>  <form action="/categories/<%= category.id %>/edit"     method="get">
    <input type="submit" value="Edit">
    </form></td>
    <td>  <form action="/categories/<%= category.id %>/warning"     method="get">
    <input type="submit" value="Remove">
    </form></td>

    </tr>
<% end %>
</div>


<div>
  <p><a href=/categories/new>Add a new category</a></p>

</div>
